

.collection-container-orderPlaced{
    display: flex;
    flex-direction:column;
    color: #fff;
    align-items: center;
    justify-content:space-around;
    margin-top: 1.5rem;
    gap: 1.5rem;
}


.collection-card-container-orderPlaced{
    max-width: 80%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap
}