@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
  margin: 0;
  font-family: Prata;
  overflow-x:hidden;

}

.navbar {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x:hidden;
}
.navbar ul {
  display: flex;
  flex: 4;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}
.navbar li {
  cursor: pointer;
}
.Brand {
  flex: 2;
  align-items: center;
  display: flex;
  height: 2rem;

  gap: 1rem;
  padding-left: 2rem;
}
.Brand-logo svg {
  font-size: 2rem;
  
}
.Brand-name {
  font-size: 2rem;
  font-family: "Dancing Script";
}

.cart-profile {
  display: flex;
  cursor: pointer;
  padding-right: 3rem;
  gap: 2rem;

  /* background-color: blue; */
}
.cart-profile svg{
font-size: 2rem;

  /* background-color: blue; */
}

.container {
  display: flex;
  height: 100%;
}
.product-container {
  /* background-color: pink; */
  width: 40%;
  height: 100%;
  margin-left: 10%;
  align-items: center;
}
.product-container img {
  width: 25vw;
  height: 70vh;
  object-fit: cover;
  margin: 3rem 4rem;
}
.product-details-container {
  width: 100%;
  margin-top: 5px;
}

.name-price {
  display: flex;
  font-size: 28px;
  justify-content: space-between;
  font-weight: bold;
  /* padding:10px 20px; */
}

.product-details-container-content {
  width: 60%;
  margin: 3rem 2rem 0 2rem;
}
.product-detail-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
}
.product-quantity input {
  width: 10%;
  height: 28px;
  border: 2px solid black;
  text-align: center;
}
.product-quantity-box {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 600;
  margin-top: 1rem;
}
.product-desc {
  margin-top: 1rem;
}

.product-detail-size {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}
.circle-size {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.circle-size:hover {
  box-shadow: inset 0 0 0 1px #000;
  cursor: pointer;
}

.product-buttons {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  align-items: center;
}

.add-to-cart {
  width: 50%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  /* padding:10px; */
  padding: 5px;
}
.add-to-cart i {
  padding-top: 1px;
}
.ptp a {
  text-decoration: none;
  color: #fff;
}

.ptp {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  /* width:50%; */
  border: 1px solid #000;
  background-color: #000;
  color: white;
  justify-content: center;
  padding: 5px;
  gap: 10px;
}
/* .navigation-div {
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    background: linear-gradient(
      177.14deg,
      rgba(0, 0, 0, 0.98),
      #000 47.92%,
      #000 50%,
      #000
    );
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 1196px;
    height: 90px;
    mix-blend-mode: normal;
  }
  .shopshack-div {
    position: absolute;
    top: 20px;
    left: 92px;
    font-size: 40px;
    font-family: "Dancing Script";
    display: inline-block;
  }
  .about-us-div,
  .contact-div,
  .home-div {
    position: absolute;
    top: 31px;
    left: 750px;
    display: inline-block;
    width: 119px;
    height: 36px;
  }
  .contact-div,
  .home-div {
    left: 608px;
    width: 95px;
  }
  .home-div {
    left: 370px;
    width: 145px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000;
  }
  .shopify-icon {
    position: absolute;
    top: 7px;
    left: 24px;
    width: 50px;
    height: 74px;
    object-fit: cover;
  }
  .shop-div {
    position: absolute;
    top: 31px;
    left: 486px;
    display: inline-block;
    width: 75px;
    height: 36px;
  }
  .user-profile-icon,
  .vector-icon {
    position: absolute;
    height: 40.45%;
    width: 3.01%;
    top: 34.83%;
    right: 7.87%;
    bottom: 24.72%;
    left: 89.12%;
    max-width: 100%;
    max-height: 100%;
  }
  .user-profile-icon {
    right: 2.09%;
    left: 94.9%;
  }
  .nav-bar-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 1195px;
    height: 89px;
  }
  .image-cloth-icon {
    position: absolute;
    top: 144.95px;
    left: 52.95px;
    width: 433.1px;
    height: 518.1px;
    object-fit: cover;
  }
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 568px;
    height: 509px;
  }
  .solid-white-shirt {
    position: absolute;
    top: 0;
    left: 31px;
    display: inline-block;
    width: 305px;
    height: 54.95px;
  }
  .rectangle-div1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 545px;
    height: 143.24px;
  }
  .product-desc-text-div,
  .product-description-b {
    position: absolute;
    top: 28.05px;
    left: 17px;
    display: inline-block;
    width: 184px;
    height: 27.03px;
  }
  .product-desc-text-div {
    top: 54.17px;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    width: 516px;
    height: 77.48px;
  }
  .product-desc-div,
  .quantity-div1 {
    position: absolute;
    top: 54.95px;
    left: 20px;
    width: 545px;
    height: 143.24px;
    font-size: 20px;
  }
  .quantity-div1 {
    top: 0;
    left: 0;
    font-weight: 500;
    font-family: Spectral;
    display: inline-block;
    width: 80px;
    height: 27.03px;
  }
  .rectangle-div2 {
    position: absolute;
    top: 36.04px;
    left: 0;
    background-color: #fff;
    width: 115px;
    height: 44.14px;
  }
  .div {
    position: absolute;
    top: 42.34px;
    left: 4px;
    font-weight: 500;
    display: inline-block;
    width: 6px;
    height: 25.22px;
  }
  .quantity-input-div {
    position: absolute;
    top: 35.04px;
    left: 20px;
    background-color: #fff;
    backdrop-filter: blur(4px);
    border: 1px solid #000;
    box-sizing: border-box;
    width: 61px;
    height: 33.53px;
  }
  .div1 {
    position: absolute;
    top: 42.34px;
    left: 87px;
    font-weight: 500;
    display: inline-block;
    width: 9px;
    height: 25.22px;
  }
  .quantity-div {
    position: absolute;
    top: 222px;
    left: 37px;
    width: 115px;
    height: 80.18px;
    font-size: 18px;
    font-family: Roboto;
  }
  .div2 {
    position: absolute;
    top: 9.01px;
    left: 441px;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    width: 143px;
    height: 36.04px;
  }
  .right-product-card-div,
  .size-div1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 584px;
    height: 509px;
  }
  .size-div1 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 37px;
    height: 29.57px;
  }
  .ellipse-icon,
  .xl-div {
    position: absolute;
    top: 31.04px;
    left: 167.5px;
    width: 37px;
    height: 36.48px;
  }
  .xl-div {
    top: 39.42px;
    left: 176px;
    font-weight: 500;
    display: inline-block;
    width: 25px;
    height: 22.67px;
  }
  .ellipse-icon1,
  .l-div {
    position: absolute;
    top: 31.04px;
    left: 110.5px;
    width: 37px;
    height: 36.48px;
  }
  .l-div {
    top: 39.38px;
    left: 124px;
    font-weight: 500;
    display: inline-block;
    width: 7px;
    height: 20.78px;
  }
  .ellipse-icon2,
  .m-div {
    position: absolute;
    top: 32.02px;
    left: 53.5px;
    width: 37px;
    height: 36.48px;
  }
  .m-div {
    top: 39.42px;
    left: 65px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 14px;
    height: 20.7px;
  }
  .ellipse-icon3,
  .s-div {
    position: absolute;
    top: 32.02px;
    left: -0.5px;
    width: 37px;
    height: 36.48px;
  }
  .s-div {
    top: 39.42px;
    left: 14px;
    font-weight: 500;
    display: inline-block;
    width: 8px;
    height: 20.7px;
  }
  .size-div {
    position: absolute;
    top: 327px;
    left: 37px;
    width: 204px;
    height: 68px;
    font-size: 14px;
    color: #959595;
  }
  .rectangle-div3 {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#fff, #fff), #d9d9d9;
    width: 525.96px;
    height: 80.47px;
  }
  .rectangle-div4 {
    position: absolute;
    top: 16.44px;
    left: 291.14px;
    background-color: #000;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 242.36px;
    height: 46.53px;
  }
  .forward-icon {
    position: absolute;
    top: 25.41px;
    left: 489.76px;
    width: 25.14px;
    height: 28.59px;
    object-fit: cover;
  }
  .rectangle-div5 {
    position: absolute;
    top: 16.44px;
    left: 31.68px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 242.36px;
    height: 46.53px;
  }
  .add-to-cart,
  .proceed-to-purchase {
    position: absolute;
    top: 25.41px;
    left: 124.7px;
    font-weight: 500;
    display: inline-block;
    width: 95.54px;
    height: 28.59px;
  }
  .proceed-to-purchase {
    left: 320.81px;
    color: #fff;
    width: 168.95px;
    cursor: pointer;
  }
  .buy-icon {
    position: absolute;
    top: 22.23px;
    left: 94.53px;
    width: 24.14px;
    height: 36px;
    object-fit: cover;
  }
  .addcheckout-div,
  .right-div {
    position: absolute;
    top: 415px;
    left: 0;
    width: 533px;
    height: 80.47px;
    font-size: 18px;
  }
  .right-div {
    top: 154px;
    left: 550px;
    width: 584px;
    height: 509px;
    font-size: 36px;
    color: #000;
    font-family: Spectral;
  }
  .desktop-2 {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 719px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Prata;
  } */
