@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
  margin: 0;
  font-family: Prata;
  overflow-x:hidden;

}

.navbar {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x:hidden;
}
.navbar ul {
  display: flex;
  flex: 4;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}
.navbar li {
  cursor: pointer;
}
.Brand {
  flex: 2;
  align-items: center;
  display: flex;
  height: 2rem;

  gap: 1rem;
  padding-left: 2rem;
}
.Brand-logo svg {
  font-size: 2rem;
  
}
.Brand-name {
  font-size: 2rem;
  font-family: "Dancing Script";
}

.cart-profile {
  display: flex;
  cursor: pointer;
  padding-right: 3rem;
  gap: 2rem;

  /* background-color: blue; */
}
.cart-profile svg{
font-size: 2rem;

  /* background-color: blue; */
}
